In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("factbook.db")
q = "SELECT * FROM sqlite_master WHERE type = 'table'"
pd.read_sql_query(q, conn)
query = "SELECT * FROM facts LIMIT 5"
pd.read_sql_query(query, conn)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,1,af,Afghanistan,652230,652230,0,32564342,2.32,38.57,13.89,1.51
1,2,al,Albania,28748,27398,1350,3029278,0.30,12.92,6.58,3.30
2,3,ag,Algeria,2381741,2381741,0,39542166,1.84,23.67,4.31,0.92
3,4,an,Andorra,468,468,0,85580,0.12,8.13,6.96,0.00
4,5,ao,Angola,1246700,1246700,0,19625353,2.78,38.78,11.49,0.46

In [2]:
q2 = "SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth) FROM facts"
pd.read_sql_query(q2, conn)

,MIN(population),MAX(population),MIN(population_growth),MAX(population_growth)
0,0,7256490011,0.0,4.02

In [6]:
q3 = '''SELECT * FROM facts WHERE population = 0 '''
q4 = '''SELECT * FROM facts WHERE population = 7256490011 '''
pd.read_sql_query(q3, conn)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,250,ay,Antarctica,None,280000,None,0,None,None,None,None

In [7]:
pd.read_sql_query(q4, conn)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,261,xx,World,None,None,None,7256490011,1.08,18.6,7.8,None

In [ ]:
q5 = '''SELECT population, population_growth, birth_rate, death_rate
        FROM facts WHERE population != 0 AND population != 7256490011 '''
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_sql_query(q5, conn)
fig = plt.figure(figsize = (10,10))
ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)
ax1.hist(df["population"])
ax2.hist(df["population_growth"])
ax3.hist(df["birth_rate"])
ax4.hist(df["death_rate"])